@{
    ViewBag.Title = "About";
}
<hgroup>
    <h2>@ViewBag.Title.</h2>
</hgroup>
<div class="row-fluid">
    <div class="span12">
        <p id="aboutText">
            The “Lab Management Application” is a software application designed to be used for laboratory activities management in a faculty,
            This application has three typical users: administrator, teachers and students.<br />
            Each one of the users will be able to do the following:<br />
            a) administrator:<br />
            - will be responsible for creating and managing teacher accounts<br />
            b) teachers:<br />
            - mentaing students registry<br />
            - define a laboratory with name, description, conditions for passing the lab<br />
            - create, define, modify, remove groups of students associated with a laboratory<br />
            - post messages in a group / laboratory<br />
            - keep track of students presence in laboratory<br />
            - keep a grades book<br />
            c) students:<br />
            - see all the laboratories that he is assigned to<br />
            - view his situation in a laboratory with grades and presences<br />
            - post message for one colleague or for a list of colleagues<br />
            - view received messages<br />
            - send a message to the teacher for a specific lab<br />
            - reset his access password<br />

        </p>
    </div>
</div>