@model IEnumerable<IdentitySample.Models.ApplicationUser>

@{
    ViewBag.Title = "Grades";
}

<h2>Student Status</h2>

<table class="table">
    <tr>
        <th>

            @Html.DisplayNameFor(model => model.UserName)

        </th>

        <th>
            <p>Options</p>
        </th>
        <th>
            <p>Lab 1</p>
        </th>
        <th>
            <p>Lab 2</p>
        </th>
        <th>
            <p>Lab 3</p>
        </th>
        <th>
            <p>Lab 4</p>
        </th>
        <th>
            <p>Lab 5</p>
        </th>
        <th>
            <p>Lab 6</p>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.ActionLink("Add Grade", "AddGrade", new { id = item.Id })

            </td>
        </tr>
    }


</table>
